<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/admin/addvip" method="POST">
        card_id: <input type="text" name="card_id" value=""><br/>
        name: <input type="text" name="name" value=""><br/>
        gender: <input type="text" name="gender" value=""><br/>
        cell: <input type="text" name="cell" value=""><br/>
        qq: <input type="text" name="qq" value=""><br/>
        department: <input type="text" name="department" value=""><br/>
        grade: <input type="text" name="grade" value=""><br/>
        <input type="submit" value="提交">
        <a href="/admin/viewvip">返回</a>
    </form>
</body>
</html>