<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>确认删除？</title>
</head>
<body>
    <h1>确认删除？</h1>
    <a href="/admin/confirmdelete?id=<%= id %>"><input type="submit" value="确认"></a>
    <a href=/admin/viewvip>取消</a>
</body>
</html>